<div class="mb-3">
    <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#collapseNewPearlForm" aria-expanded="false" aria-controls="collapseNewPearlForm">
        Add new pearl
    </button>
    <div class="collapse" id="collapseNewPearlForm">
        <NewPearlForm ListId="@ListId"/>
    </div>
</div>

@code
{
    [Parameter]
    public Guid ListId { get; set; }
}
