@using PearlsOfWisdom.WebUI.Clients

<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <h5 class="card-title">@Model.Title</h5>
            <p class="">@Model.Note</p>
            <p>@Model.Author</p>
            <ListKeyPoints />
        </div>
        <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#collapseTranscription" aria-expanded="false" aria-controls="collapseTranscription">
            Show Transcription
        </button>
        <div class="collapse" id="collapseTranscription">
            @((MarkupString) Model.Transcription.Replace("\n", "<br />"))
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public PearlItemDto Model { get; set; }
}