<p>Key points:</p>
<ul class="list-group">
    <li class="list-group-item">Some key point</li>
    <li class="list-group-item">Some other key point</li>
    <li class="list-group-item">A third key point</li>
</ul>