@using PearlsOfWisdom.WebUI.Clients
@inject IPearlItemClient _client;
@inject ComponentState _state;


<input @bind="@title" placeholder="New item"/>
<button type="button" @onclick="Send">Create</button>

@code
{
    [Parameter]
    public Guid ListId { get; set; }
    
    private string title;
    public async Task Send()
    {
        // await _client.CreateAsync(ListId, title);
        title = null;
        _state.NotifyStateChanged();
    }
}
